# # config:
# #   service: |
# #     [SERVICE]
# #         Flush        1
# #         Daemon       Off
# #         Log_Level    info
# #         Parsers_File parsers.conf

# #   inputs: |
# #     [INPUT]
# #         Name              tail
# #         Path              /var/log/containers/*_default_*.log
# #         Tag               kube.*
# #         Parser            docker
# #         Mem_Buf_Limit     50MB
# #         Skip_Long_Lines   On
# #         Refresh_Interval  10

# #   filters: |
# #     [FILTER]
# #         Name                kubernetes
# #         Match               kube.*
# #         Kube_URL            https://kubernetes.default.svc:443
# #         Kube_Tag_Prefix     kube.
# #         Merge_Log           On
# #         Keep_Log            Off
# #         Annotations         Off
# #         Labels              On

# #   outputs: |
# #     [OUTPUT]
# #         Name            opensearch
# #         Match           *
# #         Host            headphones-vaccine-trinity-fuzzy.trycloudflare.com
# #         Port            443
# #         tls             On
# #         tls.verify      Off
# #         HTTP_User       admin
# #         HTTP_Passwd     ComplexPassword123!
# #         Logstash_Format On
# #         Logstash_Prefix my-go-app-logs
# #         Suppress_Type_Name On
# #         Retry_Limit     3
# #         Buffer_Size     5MB


# config:
#   service: |
#     [SERVICE]
#         Flush        1
#         Daemon       Off
#         Log_Level    info
#         Parsers_File parsers.conf
#         HTTP_Server  On
#         HTTP_Listen  0.0.0.0
#         HTTP_Port    2020

#   inputs: |
#     [INPUT]
#         Name              tail
#         Path              /var/log/containers/*.log
#         Tag               kube.*
#         Parser            docker
#         Mem_Buf_Limit     50MB
#         Skip_Long_Lines   On
#         Refresh_Interval  10

#   filters: |
#     [FILTER]
#         Name                kubernetes
#         Match               kube.*
#         Kube_URL            https://kubernetes.default.svc:443
#         Kube_Tag_Prefix     kube.
#         Merge_Log           On
#         Keep_Log            Off
#         Annotations         Off
#         Labels              On
#         Use_Kubelet         Off
#         K8S-Logging.Parser  On
#         K8S-Logging.Exclude On

#     [FILTER]
#         Name    grep
#         Match   kube.*
#         Exclude kubernetes['namespace_name'] ^(kube-system|ingress-nginx|logging)$

#   outputs: |
#     [OUTPUT]
#         Name                 opensearch
#         Match                *
#         Host                 headphones-vaccine-trinity-fuzzy.trycloudflare.com
#         Port                 443
#         tls                  On
#         tls.verify           Off
#         HTTP_User            admin
#         HTTP_Passwd          ComplexPassword123!
#         Logstash_Format      On
#         Logstash_Prefix_Key  kubernetes['namespace_name']
#         Suppress_Type_Name   On
#         Retry_Limit          3
#         Buffer_Size          5MB

tolerations:
  - key: node-role.kubernetes.io/master
    operator: Exists
    effect: NoSchedule
  - operator: Exists
    effect: NoExecute
  - operator: Exists
    effect: NoSchedule

daemonSetVolumes:
  - name: varlog
    hostPath:
      path: /var/log
  - name: varlibdockercontainers
    hostPath:
      path: /var/lib/docker/containers

daemonSetVolumeMounts:
  - name: varlog
    mountPath: /var/log
  - name: varlibdockercontainers
    mountPath: /var/lib/docker/containers
    readOnly: true

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 50m
    memory: 64Mi

config:
  service: |
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    debug
        Parsers_File parsers.conf
        HTTP_Server  On
        HTTP_Listen  0.0.0.0
        HTTP_Port    2020

  inputs: |
    [INPUT]
        Name              tail
        Path              /var/log/containers/*.log
        Tag               kube.*
        Parser            docker
        Mem_Buf_Limit     50MB
        Skip_Long_Lines   On
        Refresh_Interval  10

  filters: |
    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_URL            https://kubernetes.default.svc:443
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            Off
        Annotations         Off
        Labels              On
        Use_Kubelet         Off

  outputs: |
    [OUTPUT]
        Name                 opensearch
        Match                *
        Host                 headphones-vaccine-trinity-fuzzy.trycloudflare.com
        Port                 443
        tls                  On
        tls.verify           Off
        HTTP_User            admin
        HTTP_Passwd          ComplexPassword123!
        Logstash_Format      On
        Logstash_Prefix_Key  $kubernetes['namespace_name']
        Suppress_Type_Name   On
        Retry_Limit          3
        Buffer_Size          50MB