# Default values for opensearch.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: avvk/opensearch
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: latest

imagePullSecrets: []
nameOverride: "opensearch"
fullnameOverride: "opensearch"

ports:
- containerPort: 8080
  protocol: TCP



service:
  type: LoadBalancer
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080

ingress:
  enabled: true
  className: nginx
  host: avvk.local


