{{- if .Values.ingress.enabled }}
{{- $serviceName := printf "%s-service" (include "eks.fullname" .) }}

apiVersion: networking.k8s.io/v1
kind: Ingress

metadata:
  name: {{ include "eks.fullname" . }}-ingress
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}

spec:
  ingressClassName: {{ default "nginx" .Values.ingress.className }}
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ .host }}
    http:
      paths:
      {{- range .paths }}
      - path: {{ .path }}
        pathType: {{ .pathType }}
        backend:
          service:
            name: {{ $serviceName }}
            port:
              number: {{ .port }}
      {{- end }}
  {{- end }}
{{- end }}